<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AngularJS 数据绑定</title>
</head>

<body ng-app="App">
    <h1>学习内容包括</h1>
    <h2>
        1、数据单项绑定
        <br> 2、数据双向绑定
        <br> 3、初始化模型对象
        <br> 4、angular js 添加事件的方法
    </h2>
    <ul ng-controller="DemoController">
        <li ng-bind="name"></li>
        <li ng-cloak>{{age}}</li>
        <li ng-bind-template="{{name}}{{age}}"></li>
    </ul>

    <div ng-controller="CemoController">
        <!-- 要实现数据从视图向模型传递需要借助于表单元素 -->
        <input type="text" ng-model="msg">
        <button ng-click="show()">显示</button>
    </div>

    <div ng-controller="DemoController" ng-init="name='itcast';age=10">
        <h1>{{name}}</h1>
        <h2>{{age}}</h2>
    </div>

    <div ng-controller="RemoController">
        <ul>
            <li>
                <button ng-click="single()">单击</button>
            </li>
            <li>
                <button ng-dblclick="double()">双击</button>
            </li>
            <li>
                <input type="text" ng-blur="blur()">
            </li>
            <li ng-mouseout="mouseout()">一些内容</li>
        </ul>
    </div>

    <div ng-controller="TemoController">
            <!-- <ul>
                <li ng-repeat="(key, star) in stars">{{star.name}}{{star.age}}</li>
            </ul> -->
    
            <ul>
                <!-- 可对数组或者对象迭代显示 -->
                <li ng-repeat="item in items" ng-switch="item"> 
                    <span ng-switch-when="css">{{item}}</span>
                </li>
            </ul>
        </div>

    <script src="angular.min.js"></script>
    <script>

        var App = angular.module('App', []);

        App.controller('DemoController', ['$scope', function ($scope) {

            // $scope 就是Model

            $scope.name = '小明';

            $scope.age = 10;

        }]);
        App.controller('CemoController', ['$scope', function ($scope) {

            // $scope Model

            $scope.show = function () {
                alert($scope.msg);
            }

        }]);

        App.controller('RemoController', ['$scope', function ($scope) {

            $scope.single = function () {
                alert('我被单击了');
            }

            $scope.double = function () {
                alert('我被双击了');
            }

            $scope.blur = function () {
                alert('失去焦点了');
            }

            $scope.mouseout = function () {
                alert('鼠标移出了');
            }

        }]);

        App.controller('TemoController', ['$scope', function ($scope) {

            // $scope.stars = [
            // 	{name: '刘德华', age: 60},
            // 	{name: '周杰伦', age: 38},
            // 	{name: '王力宏', age: 39}

            // ]

            $scope.items = ['html', 'css', 'js'];

        }]);


    </script>
</body>

</html>